<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet</title>
    <link rel="icon" type="image/x-icon" href="https://em-content.zobj.net/source/microsoft-teams/337/dragon-face_1f432.png">
    <link rel="stylesheet" href="fixStyle.css" />
</head>
<body>
    <div class="basics">
        <div class="name">
            <input type="text"><br>
            <label>Character Name</label>
        </div>

        <div class="background">
            <input type="text"><br>
            <label>Background</label>
        </div>

        <div class="race">
            <input type="text">
            <label>Race</label><br>
            <input type="text">
            <label>Sub-Race</label>
        </div>
        
        <div class="class">
            <input type="text">
            <label>Class</label><br>
            <input type="text">
            <label>Sub-Class</label><br>
            <input class="level" type="number" min="0" max="20">
            <label>Level</label>
        </div>

        <div class="alligment">
            <input type="text">
            <label>Alligment</label>
        </div>
    </div>
    
    <h1 class="habilities">Habilities</h1>
    <section class="habilities">
        <!--Alter mod to p or h3-->
        <div class="strenght">
            <input type="number" class="mod" min="-5" max="10"><br>
            <input type="number" class="score" min="0" max="30"><br>
            <label>Strenght</label>
        </div>
    
        <div class="dexterity">
            <input type="number" class="mod" min="-5" max="10"><br>
            <input type="number" class="score" min="0" max="30"><br>
            <label>Dexterity</label>
        </div>
            
        <div class="constitution">
            <input type="number" class="mod" min="-5" max="10"><br>
            <input type="number" class="score" min="0" max="30"><br>
            <label>Constitution</label>    
        </div>

        <div class="inteligence">
            <input type="number" class="mod" min="-5" max="10"><br>
            <input type="number" class="score" min="0" max="30"><br>
            <label>Inteligence</label>
        </div>
        
        <div class="wisdom">
            <input type="number" class="mod" min="-5" max="10"><br>
            <input type="number" class="score" min="0" max="30"><br>
            <label>Wisdom</label>
        </div>
        
        <div class="charisma">
            <input type="number" class="mod" min="-5" max="10"><br>
            <input type="number" class="score" min="0" max="30"><br>
            <label>Charisma</label>
        </div>
    </section>

    <div class="tests">
        <div class="skills">
            <h1>Skills</h1>
            <div class="acrobatics">
                <input type="checkbox">
                <label>Acrobatics</label>
            </div>
            
            <div class="animalHandling">
                <input type="checkbox">
                <label>Animal Handling</label>
            </div>
            
            <div class="arcana">
                <input type="checkbox">
                <label>Arcana</label>
            </div>
            
            <div class="athletics">
                <input type="checkbox">
                <label>Athletics</label>
            </div>
            
            <div class="deception">
                <input type="checkbox">
                <label>Deception</label>
            </div>
            
            <div class="history">
                <input type="checkbox">
                <label>History</label>
            </div>
            
            <div class="insight">
                <input type="checkbox">
                <label>Insight</label>
            </div>
            
            <div class="intimidation">
                <input type="checkbox">
                <label>Intimidation</label>
            </div>

            <div class="investigation">
                <input type="checkbox">
                <label>Investigation</label>
            </div>
            
            <div class="medicine">
                <input type="checkbox">
                <label>Medicine</label>
            </div>
            
            <div class="nature">
                <input type="checkbox">
                <label>Nature</label>
            </div>
            
            <div class="perception">
                <input type="checkbox">
                <label>Perception</label>
            </div>

            <div class="performance">
                <input type="checkbox">
                <label>Performance</label>
            </div>

            <div class="persuasion">
                <input type="checkbox">
                <label>Persuasion</label>
            </div>

            <div class="religion">
                <input type="checkbox">
                <label>Religion</label>
            </div>

            <div class="slightOfHand">
                <input type="checkbox">
                <label>Slight-of-Hand</label>
            </div>

            <div class="stealth">
                <input type="checkbox">
                <label>Stealth</label>
            </div>

            <div class="survival">
                <input type="checkbox">
                <label>Survival</label>
            </div>
        </div>

        <div class="saving">
            <h1>Saving Throws</h1>
            <div class="strenght">
                <input type="checkbox">
                <label>Strenght</label>
            </div>

            <div class="dexterity">
                <input type="checkbox">
                <label>Dexterity</label>
            </div>

            <div class="constitution">
                <input type="checkbox">
                <label>Constitution</label>
            </div>

            <div class="inteligence">
                <input type="checkbox">
                <label>Inteligence</label>
            </div>

            <div class="wisdom">
                <input type="checkbox">
                <label>Wisdom</label>
            </div>

            <div class="charisma">
                <input type="checkbox">
                <label>Charisma</label>
            </div>
        </div>
    </div>
    
    <div class="combat">
        <h1>Combat</h1>
        <div class="health">
            <input type="number">
            <label>Cur HP</label>
            <input type="number">
            <label>Max HP</label><br>
            <input type="number">
            <label>Temp HP</label>
        </div>

        <div class="initiative">
            <!--Conectar com a destreza-->
            <p></p>
        </div>

        <div class="armor">
            <input type="number">
            <label>AC</label>
        </div>

        <div class="deathSave">
            <label>Death Saves</label>
            <div class="success">
                <label>Success</label>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="failure">
                <label>Failure</label>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </div>
        </div>

        <div class="conditions">
            <label>Conditions</label>
            <textarea>Conditions that you are aflicted with! (Stuned, Blinded, Compeled)</textarea>
        </div>

        <div class="attacks">
            <!--Ditto from Equipment, just it's onw object-->
            <label>Attacks</label>
        </div>
    </div>

    <div class="backpack">
        <div class="gold">
            <label>Gold</label>
            <input type="number">
        </div>

        <div class="equipment">
            <!--Equipment MUST HAVE its onw objects, that can be cloned, just like Class-->
            <label>Equipment</label>
            <textarea>Equipment and Loot that you colected along your Jurney!</textarea>
        </div>
    </div>
    
    <div class="features">
        <!--Ditto from Attacks-->
    </div>

</body>
</html>