<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="fixStyle.css" />
</head>
<body>
    <div class="basics">
        <div class="name">
            <input type="text"><br>
            <label>Character Name</label>
        </div>

        <div class="background">
            <input type="text"><br>
            <label>Background</label>
        </div>

        <div class="race">
            <input type="text">
            <label>Race</label><br>
            <input type="text">
            <label>Sub-Race</label>
        </div>
        
        <div class="class">
            <input type="text">
            <label>Class</label><br>
            <input type="text">
            <label>Sub-Class</label><br>
            <input type="number" min="0" max="20">
            <label>Level</label>
        </div>

        <div class="alligment">
            <input type="text">
            <label>Alligment</label>
        </div>
    </div>
    
    <div class="habilities">
        <div class="strenght">
            <input type="number" class="mod">
            <input type="number" class="score">
            <label>Força</label>
        </div>
    
        <div class="dextry">
            <input type="number" class="mod">
            <input type="number" class="score">
            <label>Destreza</label>
        </div>
            
        <div class="constitution">
            <input type="number" class="mod">
            <input type="number" class="score">
            <label>Constituição</label>    
        </div>

        <div class="inteligence">
            <input type="number" class="mod">
            <input type="number" class="score">
            <label>Inteligencia</label>
        </div>
        
        <div class="wisdom">
            <input type="number" class="mod">
            <input type="number" class="score">
            <label>Sabedoria</label>
        </div>
        
        <div class="charisma">
            <input type="number" class="mod">
            <input type="number" class="score">
            <label>Carisma</label>
        </div>
    </div>

    <div class="skills">
        <div class="acrobatics">
            <input type="checkbox">
            <label>Acrobatics</label>
        </div>
        
        <div class="animalHandling">
            <input type="checkbox">
            <label>Animal Handling</label>
        </div>
        
        <div class="arcana">
            <input type="checkbox">
            <label>Arcana</label>
        </div>
        
        <div class="athletics">
            <input type="checkbox">
            <label>Athletics</label>
        </div>
        
        <div class="deception">
            <input type="checkbox">
            <label>deception</label>
        </div>
        
        <div class="history">
            <input type="checkbox">
            <label>History</label>
        </div>
        
        <div class="insight">
            <input type="checkbox">
            <label>Insight</label>
        </div>
        
        <div class="intimidation">
            <input type="checkbox">
            <label>Intimidation</label>
        </div>

        <div class="investigation">
            <input type="checkbox">
            <label>Investigation</label>
        </div>
        
        <div class="medicine">
            <input type="checkbox">
            <label>Medicine</label>
        </div>
        
        <div class="nature">
            <input type="checkbox">
            <label>Nature</label>
        </div>
        
        <div class="perception">
            <input type="checkbox">
            <label>Perception</label>
        </div>

        <div class="performance">
            <input type="checkbox">
            <label>Performance</label>
        </div>

        <div class="persuasion">
            <input type="checkbox">
            <label>Persuasion</label>
        </div>

        <div class="religion">
            <input type="checkbox">
            <label>Religion</label>
        </div>

        <div class="slightOfHand">
            <input type="checkbox">
            <label>Slight-of-Hand</label>
        </div>

        <div class="stealth">
            <input type="checkbox">
            <label>Stealth</label>
        </div>

        <div class="Survival">
            <input type="checkbox">
            <label>Survival</label>
        </div>
    </div>
    
    <div class="combat">
        <div class="health">
            <input type="number">
            <label>Cur HP</label>
            <input type="number">
            <label>Max HP</label>
            <input type="number">
            <label>Temp HP</label>
        </div>

        <div class="initiative">
            <!--Conectar com a destreza-->
            <p></p>
        </div>

        <div class="armor">
            <input type="number">
            <label>AC</label>
        </div>

        <div class="deathSave">
            <label>Death Saves</label>
            <div class="success">
                <label>Success</label>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="failure">
                <label>Failure</label>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </div>
        </div>

        <div class="conditions">
            <label>Conditions</label>
            <textarea>Conditions that you are aflicted with! (Stuned, Blinded, Compeled)</textarea>
        </div>

        <div class="attacks">
            <!--Ditto from Equipment, just it's onw object-->
            <label>Attacks</label>
        </div>
    </div>

    <div class="equipment">
        <!--Equipment MUST HAVE its onw objects, that can be cloned, just like Class-->
        <label>Equipment</label>
        <textarea>Equipment and Loot that you colected along your Jurney!</textarea>
    </div>
    
    <div class="features">
        <!--Ditto from Attacks-->
    </div>

</body>
</html>